* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 80vh;
  background: #e0e5ec;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

.container {
  background: #e0e5ec;
  padding: 1rem;
  border-radius:2.2rem;
  box-shadow: 4px 4px 14px #c1c8d0,
   -8px -8px 16px #ffffff;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
  color: #333;
}

h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 2.5px;
  background: #7a5ef9;
  margin: 20px auto 0;
  border-radius: 5px;
}

input, select {
  width: 50%;
  padding: 0.7rem;
  margin-top: 1.7rem;
  border: none;
  border-radius: 22px;
  background: #e0e5ec;
  box-shadow: inset 8px 8px 16px #c1c8d0,
   inset -6px -8px 16px #ffffff;
  font-size: 1rem;
  color: #333;
  outline: none;
  appearance: none;
}

.units-container {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.units-container select {
  flex: 1;
}

.convert-btn {
  margin-top: 2rem;
  padding: 0.6rem;
  width: 190%;
  border: none;
  border-radius: 15px;
  background: #e0e5ec;
  box-shadow: 8px 8px 16px #c1c8d0, 
  -8px -8px 16px #ffffff;
  font-size: 1.2rem;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.convert-btn:hover {
  background: #d3d8e0;
}
#resultText {
  display: none; 
  margin-top: 1.4rem;
  padding: 1.2rem 1.7rem;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #2f3542;
  background: #e0e5ec;
  line-height: 1.4;
  box-shadow: inset 7px 7px 15px #c3c9e1, 
  inset -7px -7px 15px #ffffff;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
  pointer-events: none;
}

#resultText.show {
  display: block; 
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

#resultText.success {
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
  background: linear-gradient(145deg, #d9f7d1, #c1e9c0);
  box-shadow: inset 5px 5px 15px #b7c7b3,
   inset -7px -7px 15px #ffffff;
  border-left: 6px solid #43a047;
  transform: scale(1.02);
}


#resultText.error {
  color: #570808;
  background: linear-gradient(145deg, #fdd8d8, #f8a1a1);
  box-shadow: inset 6px 7px 15px #f1c2c2,
   inset -7px -7px 15px #ffffff;
  border-left: 6px solid #e53935;
  transform: scale(1.02);
}
















































